body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  text-align: justify;
  color: black;
  background-color: while;
}
div#main {
  font-size: 140%;
}
h1,h2,h3 {
  text-align: center;
  color: maroon;
  background-color: yellow;
}
textarea {
  position: fixed;
  bottom: 0.5ex;
  right: 0.5ex;
  opacity: 0.2;
}
textarea:hover {
  opacity: 0.8;
}
