<nav class="main-nav">
  <a href="{{ '/' | relative_url }}" 
     class="{% if page.url == '/' %}active{% endif %}">Почетна</a>
  
  {% assign sorted_pages = site.pages | sort: "nav_order" %}
  {% for p in sorted_pages %}
    {% if p.title and p.nav_order %}
      <a href="{{ p.url | relative_url }}" 
         class="{% if page.url == p.url %}active{% endif %}">
         {{ p.title }}
      </a>
    {% endif %}
  {% endfor %}
  {% include search.html %}
</nav>

<style>
  .main-nav {
    /*display: flex;
    flex-direction: column;*/ /* Ређа линкове један испод другог */
    /*width: 150px;
    float: left;
    margin-right: 20px;*/
  }
  .main-nav {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px; /* Размак између линкова */
  }
  .main-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .main-nav a:hover {
    color: #007bff;
  }
  .main-nav a.active {
    color: #d35400; /* Наранџаста или нека друга уочљива боја */
    font-weight: bold;
    border-bottom: 2px solid #d35400;
  }
</style>
