body {
  font-family: sans;
  background-color: black;
  color: white;
}
h1,h2,h3,h4 {
  color: yellow;
  background-color: maroon;
}
a:visited {color: pink;}
a {color: yellow;}
h1,h2,h3 {text-align: center;}
