<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width">
	<title>Почетна | Ненад Ђапић</title>
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
	{{ content }}
	{% assign month = post.date | date: "%-m" %}
	{{ post.date | date: "%-d." }}
	{% case month %}
		{% when '1' %}јануар
		{% when '2' %}фебруар
		{% when '3' %}март
		{% when '4' %}април
		{% when '5' %}мај
		{% when '6' %}јун
		{% when '7' %}јул
		{% when '8' %}август
		{% when '9' %}септембар
		{% when '10' %}октобар
		{% when '11' %}новембар
		{% when '12' %}децембар
	{% endcase %}
	{{ post.date | date: "%Y." }}
</body>
</html>
