---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>

<div class="post-meta" style="color: gray; font-size: 0.9em;">
  <!-- Датум који смо већ подесили [Код за датум] -->
  <span>Објављено:
    {% assign month = page.date | date: "%-m" %}
    {{ page.date | date: "%-d." }}
    {% case month %}
      {% when '1' %}јануар {% when '2' %}фебруар {% when '3' %}март
      {% when '4' %}април {% when '5' %}мај {% when '6' %}јун
      {% when '7' %}јул {% when '8' %}август {% when '9' %}септембар
      {% when '10' %}октобар {% when '11' %}новембар {% when '12' %}децембар
    {% endcase %}
    {{ page.date | date: "%Y." }}
  </span> | 
  <span>⏱️ {{ words | divided_by: 200 | plus: 1 }} мин. читања</span>
</div>

  <div class="post-content">
    {{ content }}
  </div>
  <hr>

  <nav class="post-navigation" style="display: flex; justify-content: space-between; margin-top: 20px;">
    <div class="prev">
      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}">← {{ page.previous.title }}</a>
      {% endif %}
    </div>

    <div class="next">
      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}">{{ page.next.title }} →</a>
      {% endif %}
    </div>
  </nav>

  <nav>
    <a href="{{ '/' | relative_url }}" class="back-link">
      ← Назад на почетну
    </a>
  </nav>

</article>
